@mixin stencil {
  font-family: stencil-creek, sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin shuei {
  font-family: dnp-shuei-gothic-kin-std, sans-serif;
  font-style: normal;
  font-weight: 500;
}
